<div class="container pt-5 pb-5 div_form">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Detalles del Jugador con ID: {{player.id}}</h5>
                    <p class="card-text">Nombre: {{player.name}}</p>
                    <p class="card-text">Edad: {{player.age}}</p>
                    <p class="card-text">Posici&oacute;n: {{player.position}}</p>
                    <a class="btn btn-primary" routerLink="/admin/home" >Volver atr&aacute;s</a>
                </div>
            </div>
        </div>
    </div>
</div>

<img title="Logo PSG" alt="Logo PSG" src="https://m.media-amazon.com/images/I/81eWlcxCSbL._AC_SX450_.jpg">