<footer id="dk-footer" class="dk-footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2022, Ici C'est Paris, PSG F.C.</span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <p>Javier Su&aacute;rez Su&aacute;rez</p>
                            </li>
                            <li>
                                <a href="https://billetterie.psg.fr/en/practical-information/general-terms-and-conditions-of-sale">Términos</a>
                            </li>
                            <li>
                                <a href="https://pt.psg.fr/dados-pessoais-e-cookies">Política de Privacidad</a>
                            </li>
                            <li>
                                <a href="https://billetterie.psg.fr/en/practical-information/contact-us">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>
</footer>
